<div layout="column" layout-align="center" layout-padding>

    <md-content>

        <ng-form name="searchTrainsForm">
            <div layout="row" layout-xs="column" layout-align="center center">
                <md-input-container flex>
                    <label for="starting-station">Starting Station:</label>
                    <input id="starting-station" ng-model="vm.startingStation">
                </md-input-container>
                <md-button class="md-fab exchange-button" aria-label="Exchange" ng-click="vm.exchangeStations()">
                    <img class="png-icon" src="src/assets/images/exchange.png">
                </md-button>
                <md-input-container flex>
                    <label for="ending-station">Ending Station:</label>
                    <input id="ending-station" ng-model="vm.endingStation">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="vm.searchTrains()">Search Trains</md-button>
            </div>
        </ng-form>

        <div layout="column">
            <md-list flex>
                <h3 ng-show="vm.trainsList.length === 0 && vm.clicked">There are no trains which match your research</h3>
                <md-subheader ng-show="vm.trainsList.length" class="md-no-sticky">List of the trains:</md-subheader>
                <train-info-item ng-repeat="train in vm.trainsList track by $index" train="train"></train-info-item>
            </md-list>
        </div>


    </md-content>


</div>