<md-dialog aria-label="Train Details" class="train-details-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Train Details</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closePanel()">
                <img class="close-dialog-img" src="src/assets/images/close_panel.png" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Train Tracking" ng-if="vm.train.Status !== 'No Information'">
                    <md-content class="md-padding">
                        <div>
                            <ng-map center="{{vm.getTrainPosition()}}" zoom="16">
                                <marker position="{{vm.getTrainPosition()}}">
                                </marker>
                            </ng-map>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Distance From Train">
                    <md-content class="md-padding">
                        <div layou="column">
                            <div>
                                <ng-map id="directions-map" center="{{vm.getCurrentPosition()}}" zoom="16">
                                    <directions draggable="true" panel="directions-panel" travel-mode="WALKING" origin="{{vm.getCurrentPosition()}}" destination="{{vm.getStationPosition()}}">
                                    </directions>
                                </ng-map>
                            </div>
                            <div id="directions-panel">
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-dialog-content>

</md-dialog>